
::-webkit-scrollbar {
  width: 6px!important;
  height: 6px!important;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(var(--ion-color-dark-rgb), .4);
  border-radius: 3px!important;
  /* opacity: .3; */
}

/* ::-webkit-scrollbar-track {
  background: rgba(34, 34, 34, .3);
} */

